In [1]:
# Import libraries
import os
import glob
import pandas as pd
import geopandas as gpd

In [2]:
root_folder = "D:\\CIAT\\Code\\BID\\dci_fauno"
data_folder = os.path.join(root_folder, "data","risk_calculator")
inputs = os.path.join(data_folder,"inputs")
outputs = os.path.join(data_folder,"outputs")
conf_folder = os.path.join(data_folder,"conf")

years = [2017,2018]
columns_rm = ["NOMBRE_OFICINA","ESTADO","NUMERO_GUIA","TIPO_ORIGEN","NOMBRE_DESTINO"]

In [3]:
f_raw = os.path.join(inputs,"mob", "download", "mobilization.csv")

df_raw = pd.read_csv(f_raw, encoding = "ISO-8859-1")
print(df_raw.head())

d:\ciat\virtualenv\jupyter\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (3,4,5,6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

      AÑO  MES  DIA DEPARTAMENTO_ORIGEN MUNICIPIO_ORIGEN VEREDA_ORIGEN  \
0  2017.0  1.0  1.0           SANTANDER         COROMORO  PUEBLO VIEJO
1  2017.0  1.0  1.0           SANTANDER         COROMORO       LA MINA
2  2017.0  1.0  2.0             GUAINÍA          INÍRIDA       EL COCO
3  2017.0  1.0  2.0             GUAINÍA          INÍRIDA       EL COCO
4  2017.0  1.0  2.0             GUAINÍA          INÍRIDA       EL COCO

  DEPARTAMENTO_DESTINO MUNICIPIO_DESTINO VEREDA_DESTINO  \
0            SANTANDER           CHARALÁ      ESPERANZA
1            ANTIOQUIA          RIONEGRO      TABLACITO
2              GUAINÍA           INÍRIDA       SAN LOPE
3              GUAINÍA           INÍRIDA       SAN LOPE
4              GUAINÍA           INÍRIDA       SAN LOPE

             TIPO_DESTINO  ... OVINO HEMBRA MAYORES DE 6 MES  \
0  CONCENTRACIÓN GANADERA  ...                           NaN
1                  PREDIO  ...                           NaN
2     PLANTA DE BENEFICIO  ...                           NaN
3     PLANTA DE BENEFICIO  ...                           NaN
4     PLANTA DE BENEFICIO  ...                           NaN

   CAPRINO HEMBRA MENOR DE 6 MES  CAPRINO HEMBRA MAYOR DE 6 MES  \
0                            NaN                            NaN
1                            NaN                            NaN
2                            NaN                            NaN
3                            NaN                            NaN
4                            NaN                            NaN

   CAPRINO MACHO MENOR DE 6 MESE  CAPRINO MACHO MAYOR DE 6 MESE  \
0                            NaN                            NaN
1                            NaN                            NaN
2                            NaN                            NaN
3                            NaN                            NaN
4                            NaN                            NaN

   GALLINAS VIVAS  OTROS  LLAMAS  ALPACAS  AVESTRUCES
0             NaN    NaN     NaN      NaN         NaN
1             NaN    NaN     NaN      NaN         NaN
2             NaN    NaN     NaN      NaN         NaN
3             NaN    NaN     NaN      NaN         NaN
4             NaN    NaN     NaN      NaN         NaN

[5 rows x 61 columns]

In [4]:
# Creating a SIT field for origin
df_raw["ID_ORIGEN"] = df_raw["DEPARTAMENTO_ORIGEN"] + "_" + df_raw["MUNICIPIO_ORIGEN"] + "_" + df_raw["VEREDA_ORIGEN"]
df_raw["ID_DESTINO"] = df_raw["DEPARTAMENTO_DESTINO"] + "_" + df_raw["MUNICIPIO_DESTINO"] + "_" + df_raw["VEREDA_DESTINO"]

In [5]:
f_plots = os.path.join(inputs,"plot", "fixed", "plots", "plots.shp")
gdf_p = gpd.read_file(f_plots)
print(gdf_p.head())

    ext_id       lat        lon  animals  year      adm1  \
0   400165  5.282530 -71.963700     7470  2019  CASANARE
1   400292  5.342888 -71.967508     6673  2019  CASANARE
2  1189289  5.220117 -71.931157     1398  2019  CASANARE
3  1475236  5.288035 -71.963668     1115  2019  CASANARE
4  1259268  5.229343 -71.942858      676  2019  CASANARE

                   adm2       adm3  animals_ma  index_righ adm1_id adm1_name  \
0  SAN LUIS DE PALENQUE  ALGODONAL        7470        4243      85  CASANARE
1  SAN LUIS DE PALENQUE   JAGUEYES        6673        4243      85  CASANARE
2  SAN LUIS DE PALENQUE   JAGUEYES        1398        4243      85  CASANARE
3  SAN LUIS DE PALENQUE   JAGUEYES        1115        4243      85  CASANARE
4  SAN LUIS DE PALENQUE   JAGUEYES         676        4243      85  CASANARE

  adm2_id             adm2_name   adm3_id     adm3_name          area  \
0   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
1   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
2   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
3   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
4   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446

                          geometry
0  POINT (1234367.895 1076294.221)
1  POINT (1233922.710 1082971.885)
2  POINT (1238001.442 1069399.934)
3  POINT (1234369.374 1076903.407)
4  POINT (1236699.896 1070416.464)

In [6]:
gdf_p["ID_SITIO"] = gdf_p["adm1_name"] + "_" + gdf_p["adm2_name"] + "_" + gdf_p["adm3_name"]
gdf_p.head()

,ext_id,lat,lon,animals,year,adm1,adm2,adm3,animals_ma,index_righ,adm1_id,adm1_name,adm2_id,adm2_name,adm3_id,adm3_name,area,geometry,ID_SITIO
0,400165,5.282530,-71.963700,7470,2019,CASANARE,SAN LUIS DE PALENQUE,ALGODONAL,7470,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1234367.895 1076294.221),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
1,400292,5.342888,-71.967508,6673,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,6673,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1233922.710 1082971.885),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
2,1189289,5.220117,-71.931157,1398,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,1398,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1238001.442 1069399.934),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
3,1475236,5.288035,-71.963668,1115,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,1115,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1234369.374 1076903.407),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
4,1259268,5.229343,-71.942858,676,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,676,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1236699.896 1070416.464),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES

In [8]:
for y in [2017.0, 2018.0]:    
    df_y = df_raw[df_raw["AÑO"] == y]
    print("Original: " + str(df_raw.shape[0]) + " Nuevo: " + str(df_y.shape[0]))
    types_col = dict(gdf_p.dtypes)
    
    df_new = pd.merge(df_y, gdf_p[["ext_id","ID_SITIO"]], left_on="ID_ORIGEN", right_on='ID_SITIO', how='left')    
    print("Join origen: " + str(df_new.shape[0]))
    df_new["ext_id"] = df_new["ext_id"].astype(types_col["ext_id"])
    
    df_new = df_new.rename(columns={"ext_id":"SIT_ORIGEN"})    
    df_new = df_new[df_new["SIT_ORIGEN"].notnull()]
    df_new = df_new.drop(['ID_SITIO'], axis=1)
    print("Filtrado not nulls: " + str(df_new.shape[0]))
    
    df_new = df_new.sample(n = int(df_new.shape[0]*0.2))
    print("Muestra: " + str(df_new.shape[0]))
    
    df_new = pd.merge(df_new, gdf_p[["ext_id","ID_SITIO"]], left_on="ID_DESTINO", right_on='ID_SITIO', how='left')
    print("Join destino: " + str(df_new.shape[0]))
    df_new["ext_id"] = df_new["ext_id"].astype(types_col["ext_id"])
    
    df_new = df_new.rename(columns={"ext_id":"SIT_DESTINO"})    
    df_new = df_new[df_new["SIT_DESTINO"].notnull()]
    df_new = df_new.drop(['ID_SITIO'], axis=1)
    print("Filtrado not nulls: " + str(df_new.shape[0]))
    
    df_new = df_new.sample(n = int(df_new.shape[0]*0.15))
    print("Muestra: " + str(df_new.shape[0]))
    
    
    #df_new["SIT_DESTINO"] = df_new["SIT_DESTINO"].astype(str)
    
    print("Guardando")
    print(df_new.head())
    df_new.to_csv(os.path.join(inputs,"mob", "content", str(y) + ".csv"), index = False, encoding = "ISO-8859-1")

Original: 4661357 Nuevo: 1560011
Join origen: 8617271
Filtrado not nulls: 7389493
Muestra: 1477898
Join destino: 9002205
Filtrado not nulls: 7769915
Muestra: 1165487
Guardando
            AÑO   MES   DIA DEPARTAMENTO_ORIGEN   MUNICIPIO_ORIGEN  \
453026   2017.0  10.0  19.0                META  CASTILLA LA NUEVA
6606090  2017.0   7.0  19.0           SANTANDER            CERRITO
1579491  2017.0  10.0   5.0        CUNDINAMARCA               SUSA
7192246  2017.0  11.0  18.0                META      VILLAVICENCIO
4805519  2017.0   3.0  27.0           SANTANDER            SOCORRO

        VEREDA_ORIGEN DEPARTAMENTO_DESTINO  MUNICIPIO_DESTINO VEREDA_DESTINO  \
453026    SAN ANTONIO                 META  CASTILLA LA NUEVA       ARENALES
6606090       PLATERA            SANTANDER            CERRITO        PLATERA
1579491  LLANO GRANDE         CUNDINAMARCA               SUSA        COQUIRA
7192246     PERALONSO         CUNDINAMARCA               COTA       PARCELAS
4805519   SAN LORENZO            SANTANDER               OIBA     SANTA RITA

        TIPO_DESTINO  ... CAPRINO MACHO MAYOR DE 6 MESE  GALLINAS VIVAS  \
453026        PREDIO  ...                           NaN             NaN
6606090       PREDIO  ...                           NaN             NaN
1579491       PREDIO  ...                           NaN             NaN
7192246       PREDIO  ...                           NaN             NaN
4805519       PREDIO  ...                           NaN             NaN

         OTROS  LLAMAS  ALPACAS  AVESTRUCES  \
453026     NaN     NaN      NaN         NaN
6606090    NaN     NaN      NaN         NaN
1579491    NaN     NaN      NaN         NaN
7192246    NaN     NaN      NaN         NaN
4805519    NaN     NaN      NaN         NaN

                                  ID_ORIGEN                       ID_DESTINO  \
453026   META_CASTILLA LA NUEVA_SAN ANTONIO  META_CASTILLA LA NUEVA_ARENALES
6606090           SANTANDER_CERRITO_PLATERA        SANTANDER_CERRITO_PLATERA
1579491      CUNDINAMARCA_SUSA_LLANO GRANDE        CUNDINAMARCA_SUSA_COQUIRA
7192246        META_VILLAVICENCIO_PERALONSO       CUNDINAMARCA_COTA_PARCELAS
4805519       SANTANDER_SOCORRO_SAN LORENZO        SANTANDER_OIBA_SANTA RITA

         SIT_ORIGEN  SIT_DESTINO
453026       395318      1245995
6606090       59759        59803
1579491      586713   1661700001
7192246      394293        91716
4805519      369225       362909

[5 rows x 65 columns]
Original: 4661357 Nuevo: 1804887
Join origen: 10009323
Filtrado not nulls: 8593920
Muestra: 1718784
Join destino: 11632008
Filtrado not nulls: 10234106
Muestra: 1535115
Guardando
             AÑO   MES   DIA DEPARTAMENTO_ORIGEN MUNICIPIO_ORIGEN  \
2218281   2018.0  10.0  25.0           SANTANDER          CERRITO
5827005   2018.0   9.0  11.0        CUNDINAMARCA        GUATAVITA
10121088  2018.0   6.0  28.0                META          MESETAS
5970771   2018.0   5.0  23.0        CUNDINAMARCA            TENJO
5990543   2018.0   7.0  30.0           ANTIOQUIA          LA CEJA

           VEREDA_ORIGEN DEPARTAMENTO_DESTINO MUNICIPIO_DESTINO  \
2218281           VOLCAN            SANTANDER           CERRITO
5827005   CARBONERA BAJA         CUNDINAMARCA         GUATAVITA
10121088    LA ARGENTINA                 META           MESETAS
5970771     CARRASQUILLA         CUNDINAMARCA          MOSQUERA
5990543      SAN NICOLAS            ANTIOQUIA         ABEJORRAL

          VEREDA_DESTINO TIPO_DESTINO  ... CAPRINO MACHO MAYOR DE 6 MESE  \
2218281          PLATERA       PREDIO  ...                           NaN
5827005   CARBONERA BAJA       PREDIO  ...                           NaN
10121088      LAS BRISAS       PREDIO  ...                           NaN
5970771         SAN JOSE       PREDIO  ...                           NaN
5990543          EL BUEY       PREDIO  ...                           NaN

          GALLINAS VIVAS  OTROS  LLAMAS  ALPACAS  AVESTRUCES  \
2218281              NaN    NaN     NaN      NaN         NaN
5827005              NaN    NaN     NaN      NaN         NaN
10121088             NaN    NaN     NaN      NaN         NaN
5970771              NaN    NaN     NaN      NaN         NaN
5990543              NaN    NaN     NaN      NaN         NaN

                                      ID_ORIGEN  \
2218281                SANTANDER_CERRITO_VOLCAN
5827005   CUNDINAMARCA_GUATAVITA_CARBONERA BAJA
10121088              META_MESETAS_LA ARGENTINA
5970771         CUNDINAMARCA_TENJO_CARRASQUILLA
5990543           ANTIOQUIA_LA CEJA_SAN NICOLAS

                                     ID_DESTINO  SIT_ORIGEN  SIT_DESTINO
2218281               SANTANDER_CERRITO_PLATERA       59953        59728
5827005   CUNDINAMARCA_GUATAVITA_CARBONERA BAJA       98144       438623
10121088                META_MESETAS_LAS BRISAS      480518      1590935
5970771          CUNDINAMARCA_MOSQUERA_SAN JOSE     1468140       100925
5990543             ANTIOQUIA_ABEJORRAL_EL BUEY      441095      1672854

[5 rows x 65 columns]