In [1]:
# Import libraries
import os
import glob
import pandas as pd
import geopandas as gpd

In [2]:
root_folder = "D:\\CIAT\\Code\\BID\\dci_fauno"
data_folder = os.path.join(root_folder, "data","risk_calculator")
inputs = os.path.join(data_folder,"inputs")
outputs = os.path.join(data_folder,"outputs")
conf_folder = os.path.join(data_folder,"conf")

years = [2017,2018]
columns_rm = ["NOMBRE_OFICINA","ESTADO","NUMERO_GUIA","TIPO_ORIGEN","NOMBRE_DESTINO"]

In [3]:
f_raw = os.path.join(inputs,"mob", "download", "mobilization.csv")

df_raw = pd.read_csv(f_raw, encoding = "ISO-8859-1")
print(df_raw.head())

d:\ciat\virtualenv\jupyter\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (3,4,5,6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

      AÑO  MES  DIA DEPARTAMENTO_ORIGEN MUNICIPIO_ORIGEN VEREDA_ORIGEN  \
0  2017.0  1.0  1.0           SANTANDER         COROMORO  PUEBLO VIEJO
1  2017.0  1.0  1.0           SANTANDER         COROMORO       LA MINA
2  2017.0  1.0  2.0             GUAINÍA          INÍRIDA       EL COCO
3  2017.0  1.0  2.0             GUAINÍA          INÍRIDA       EL COCO
4  2017.0  1.0  2.0             GUAINÍA          INÍRIDA       EL COCO

  DEPARTAMENTO_DESTINO MUNICIPIO_DESTINO VEREDA_DESTINO  \
0            SANTANDER           CHARALÁ      ESPERANZA
1            ANTIOQUIA          RIONEGRO      TABLACITO
2              GUAINÍA           INÍRIDA       SAN LOPE
3              GUAINÍA           INÍRIDA       SAN LOPE
4              GUAINÍA           INÍRIDA       SAN LOPE

             TIPO_DESTINO  ... OVINO HEMBRA MAYORES DE 6 MES  \
0  CONCENTRACIÓN GANADERA  ...                           NaN
1                  PREDIO  ...                           NaN
2     PLANTA DE BENEFICIO  ...                           NaN
3     PLANTA DE BENEFICIO  ...                           NaN
4     PLANTA DE BENEFICIO  ...                           NaN

   CAPRINO HEMBRA MENOR DE 6 MES  CAPRINO HEMBRA MAYOR DE 6 MES  \
0                            NaN                            NaN
1                            NaN                            NaN
2                            NaN                            NaN
3                            NaN                            NaN
4                            NaN                            NaN

   CAPRINO MACHO MENOR DE 6 MESE  CAPRINO MACHO MAYOR DE 6 MESE  \
0                            NaN                            NaN
1                            NaN                            NaN
2                            NaN                            NaN
3                            NaN                            NaN
4                            NaN                            NaN

   GALLINAS VIVAS  OTROS  LLAMAS  ALPACAS  AVESTRUCES
0             NaN    NaN     NaN      NaN         NaN
1             NaN    NaN     NaN      NaN         NaN
2             NaN    NaN     NaN      NaN         NaN
3             NaN    NaN     NaN      NaN         NaN
4             NaN    NaN     NaN      NaN         NaN

[5 rows x 61 columns]

In [4]:
# Creating a SIT field for origin
df_raw["ID_ORIGEN"] = df_raw["DEPARTAMENTO_ORIGEN"] + "_" + df_raw["MUNICIPIO_ORIGEN"] + "_" + df_raw["VEREDA_ORIGEN"]
df_raw["ID_DESTINO"] = df_raw["DEPARTAMENTO_DESTINO"] + "_" + df_raw["MUNICIPIO_DESTINO"] + "_" + df_raw["VEREDA_DESTINO"]

In [5]:
f_plots = os.path.join(inputs,"plot", "fixed", "plots", "plots.shp")
gdf_p = gpd.read_file(f_plots)
print(gdf_p.head())

    ext_id       lat        lon  animals  year      adm1  \
0   400165  5.282530 -71.963700     7470  2019  CASANARE
1   400292  5.342888 -71.967508     6673  2019  CASANARE
2  1189289  5.220117 -71.931157     1398  2019  CASANARE
3  1475236  5.288035 -71.963668     1115  2019  CASANARE
4  1259268  5.229343 -71.942858      676  2019  CASANARE

                   adm2       adm3  animals_ma  index_righ adm1_id adm1_name  \
0  SAN LUIS DE PALENQUE  ALGODONAL        7470        4243      85  CASANARE
1  SAN LUIS DE PALENQUE   JAGUEYES        6673        4243      85  CASANARE
2  SAN LUIS DE PALENQUE   JAGUEYES        1398        4243      85  CASANARE
3  SAN LUIS DE PALENQUE   JAGUEYES        1115        4243      85  CASANARE
4  SAN LUIS DE PALENQUE   JAGUEYES         676        4243      85  CASANARE

  adm2_id             adm2_name   adm3_id     adm3_name          area  \
0   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
1   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
2   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
3   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
4   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446

                          geometry
0  POINT (1234367.895 1076294.221)
1  POINT (1233922.710 1082971.885)
2  POINT (1238001.442 1069399.934)
3  POINT (1234369.374 1076903.407)
4  POINT (1236699.896 1070416.464)

In [9]:
gdf_p["ID_SITIO"] = gdf_p["adm1_name"] + "_" + gdf_p["adm2_name"] + "_" + gdf_p["adm3_name"]
gdf_p.to_csv(os.path.join(inputs,"mob", "download", "plots.csv"), index = False, encoding = "ISO-8859-1")
gdf_p.head()

,ext_id,lat,lon,animals,year,adm1,adm2,adm3,animals_ma,index_righ,adm1_id,adm1_name,adm2_id,adm2_name,adm3_id,adm3_name,area,geometry,ID_SITIO
0,400165,5.282530,-71.963700,7470,2019,CASANARE,SAN LUIS DE PALENQUE,ALGODONAL,7470,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1234367.895 1076294.221),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
1,400292,5.342888,-71.967508,6673,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,6673,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1233922.710 1082971.885),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
2,1189289,5.220117,-71.931157,1398,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,1398,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1238001.442 1069399.934),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
3,1475236,5.288035,-71.963668,1115,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,1115,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1234369.374 1076903.407),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
4,1259268,5.229343,-71.942858,676,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,676,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1236699.896 1070416.464),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES

In [5]:
df_plots = pd.read_csv( os.path.join(inputs,"mob", "download", "plots.csv"), encoding = "ISO-8859-1")
print(df_plots.head())

    ext_id       lat        lon  animals  year      adm1  \
0   400165  5.282530 -71.963700     7470  2019  CASANARE
1   400292  5.342888 -71.967508     6673  2019  CASANARE
2  1189289  5.220117 -71.931157     1398  2019  CASANARE
3  1475236  5.288035 -71.963668     1115  2019  CASANARE
4  1259268  5.229343 -71.942858      676  2019  CASANARE

                   adm2       adm3  animals_ma  index_righ  adm1_id adm1_name  \
0  SAN LUIS DE PALENQUE  ALGODONAL        7470        4243       85  CASANARE
1  SAN LUIS DE PALENQUE   JAGUEYES        6673        4243       85  CASANARE
2  SAN LUIS DE PALENQUE   JAGUEYES        1398        4243       85  CASANARE
3  SAN LUIS DE PALENQUE   JAGUEYES        1115        4243       85  CASANARE
4  SAN LUIS DE PALENQUE   JAGUEYES         676        4243       85  CASANARE

   adm2_id             adm2_name   adm3_id     adm3_name          area  \
0    85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
1    85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
2    85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
3    85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
4    85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446

                                      geometry  \
0  POINT (1234367.895185295 1076294.221478757)
1  POINT (1233922.710054415 1082971.884993546)
2  POINT (1238001.441599487 1069399.933683947)
3  POINT (1234369.373575686 1076903.407042494)
4  POINT (1236699.896469829 1070416.464083726)

                                     ID_SITIO
0  CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
1  CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
2  CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
3  CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
4  CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES

In [12]:
for y in [2017.0, 2018.0]:    
    df_y = df_raw[df_raw["AÑO"] == y]
    print("Original: " + str(df_raw.shape[0]) + " Nuevo: " + str(df_y.shape[0]))
    #types_col = dict(gdf_p.dtypes)
    types_col = dict(df_plots.dtypes)
    
    df_new = pd.merge(df_y, df_plots[["ext_id","ID_SITIO"]], left_on="ID_ORIGEN", right_on='ID_SITIO', how='left')    
    print("Join origen: " + str(df_new.shape[0]))
    #df_new["ext_id"] = df_new["ext_id"].astype(types_col["ext_id"])
    #df_new["ext_id"] = df_new["ext_id"].astype(str).str.split('.', expand = True)[0]
    
    df_new = df_new[df_new["ext_id"].notnull()]
    df_new["ext_id"] = df_new["ext_id"].astype(str).str.split('.', expand = True)[0]
    df_new = df_new.rename(columns={"ext_id":"SIT_ORIGEN"})    
    df_new = df_new.drop(['ID_SITIO'], axis=1)
    print("Filtrado not nulls: " + str(df_new.shape[0]))
    
    df_new = df_new.sample(n = int(df_new.shape[0]*0.2))
    print("Muestra: " + str(df_new.shape[0]))
    
    df_new = pd.merge(df_new, df_plots[["ext_id","ID_SITIO"]], left_on="ID_DESTINO", right_on='ID_SITIO', how='left')
    print("Join destino: " + str(df_new.shape[0]))
    #df_new["ext_id"] = df_new["ext_id"].astype(types_col["ext_id"])
    #df_new["ext_id"] = df_new["ext_id"].astype(int)    
    
    df_new = df_new[df_new["ext_id"].notnull()]
    df_new["ext_id"] = df_new["ext_id"].astype(str).str.split('.', expand = True)[0]
    df_new = df_new.rename(columns={"ext_id":"SIT_DESTINO"})    
    df_new = df_new.drop(['ID_SITIO'], axis=1)
    print("Filtrado not nulls: " + str(df_new.shape[0]))
    
    df_new = df_new.sample(n = int(df_new.shape[0]*0.15))
    print("Muestra: " + str(df_new.shape[0]))
    
    
    #df_new["SIT_DESTINO"] = df_new["SIT_DESTINO"].astype(str)
    
    print("Guardando")
    print(df_new.head())
    df_new.to_csv(os.path.join(inputs,"mob", "content", str(y) + ".csv"), index = False, encoding = "ISO-8859-1")

Original: 4661357 Nuevo: 1560011
Join origen: 8617271
Filtrado not nulls: 7389493
Muestra: 1477898
Join destino: 8976933
Filtrado not nulls: 7744169
Muestra: 1161625
Guardando
            AÑO   MES   DIA DEPARTAMENTO_ORIGEN    MUNICIPIO_ORIGEN  \
5828217  2017.0  10.0   5.0            CASANARE               YOPAL
7549132  2017.0   3.0  31.0               CESAR          VALLEDUPAR
7160021  2017.0  11.0   8.0          LA GUAJIRA  SAN JUAN DEL CESAR
632866   2017.0   5.0  26.0             VICHADA        LA PRIMAVERA
7759785  2017.0   7.0  31.0                META             CUMARAL

        VEREDA_ORIGEN DEPARTAMENTO_DESTINO MUNICIPIO_DESTINO VEREDA_DESTINO  \
5828217       NOCUITO             CASANARE             YOPAL        PALOMAS
7549132      CARACOLI                CESAR        VALLEDUPAR  AGUAS BLANCAS
7160021  LOS PONDORES           LA GUAJIRA           DIBULLA       PALOMINO
632866       MATIYURE              VICHADA      LA PRIMAVERA       MATIYURE
7759785          YARI                 META           CUMARAL    SAN ANTONIO

        TIPO_DESTINO  ... CAPRINO MACHO MAYOR DE 6 MESE  GALLINAS VIVAS  \
5828217       PREDIO  ...                           NaN             NaN
7549132       PREDIO  ...                           NaN             NaN
7160021       PREDIO  ...                           NaN             NaN
632866        PREDIO  ...                           NaN             NaN
7759785       PREDIO  ...                           NaN             NaN

         OTROS  LLAMAS  ALPACAS  AVESTRUCES  \
5828217    NaN     NaN      NaN         NaN
7549132    NaN     NaN      NaN         NaN
7160021    NaN     NaN      NaN         NaN
632866     NaN     NaN      NaN         NaN
7759785    NaN     NaN      NaN         NaN

                                          ID_ORIGEN  \
5828217                      CASANARE_YOPAL_NOCUITO
7549132                   CESAR_VALLEDUPAR_CARACOLI
7160021  LA GUAJIRA_SAN JUAN DEL CESAR_LOS PONDORES
632866                VICHADA_LA PRIMAVERA_MATIYURE
7759785                           META_CUMARAL_YARI

                             ID_DESTINO  SIT_ORIGEN  SIT_DESTINO
5828217          CASANARE_YOPAL_PALOMAS     1282708       398507
7549132  CESAR_VALLEDUPAR_AGUAS BLANCAS      475961       391348
7160021     LA GUAJIRA_DIBULLA_PALOMINO      328632      1424335
632866    VICHADA_LA PRIMAVERA_MATIYURE     1341654       216367
7759785        META_CUMARAL_SAN ANTONIO     1438427      1381325

[5 rows x 65 columns]
Original: 4661357 Nuevo: 1804887
Join origen: 10009323
Filtrado not nulls: 8593920
Muestra: 1718784
Join destino: 11664550
Filtrado not nulls: 10267401
Muestra: 1540110
Guardando
             AÑO   MES   DIA DEPARTAMENTO_ORIGEN MUNICIPIO_ORIGEN  \
11223653  2018.0   7.0   1.0              TOLIMA          MURILLO
10787737  2018.0  11.0   6.0              ARAUCA        ARAUQUITA
3567798   2018.0   2.0  23.0        CUNDINAMARCA            TENJO
11197756  2018.0  11.0  14.0                META    VILLAVICENCIO
2061520   2018.0  11.0   1.0              ARAUCA             TAME

         VEREDA_ORIGEN DEPARTAMENTO_DESTINO MUNICIPIO_DESTINO VEREDA_DESTINO  \
11223653      RIO AZUL               TOLIMA      VILLAHERMOSA        SAMARIA
10787737    EL PARAISO               ARAUCA         ARAUQUITA     EL PARAISO
3567798   CARRASQUILLA         CUNDINAMARCA            MADRID    LOS ARBOLES
11197756     BARCELONA                 META     VILLAVICENCIO      PERALONSO
2061520       MARARABE               ARAUCA              TAME       MARARABE

         TIPO_DESTINO  ... CAPRINO MACHO MAYOR DE 6 MESE  GALLINAS VIVAS  \
11223653       PREDIO  ...                           NaN             NaN
10787737       PREDIO  ...                           NaN             NaN
3567798        PREDIO  ...                           NaN             NaN
11197756       PREDIO  ...                           NaN             NaN
2061520        PREDIO  ...                           NaN             NaN

          OTROS  LLAMAS  ALPACAS  AVESTRUCES                        ID_ORIGEN  \
11223653    NaN     NaN      NaN         NaN          TOLIMA_MURILLO_RIO AZUL
10787737    NaN     NaN      NaN         NaN      ARAUCA_ARAUQUITA_EL PARAISO
3567798     NaN     NaN      NaN         NaN  CUNDINAMARCA_TENJO_CARRASQUILLA
11197756    NaN     NaN      NaN         NaN     META_VILLAVICENCIO_BARCELONA
2061520     NaN     NaN      NaN         NaN             ARAUCA_TAME_MARARABE

                               ID_DESTINO  SIT_ORIGEN  SIT_DESTINO
11223653      TOLIMA_VILLAHERMOSA_SAMARIA     1416363      1307805
10787737      ARAUCA_ARAUQUITA_EL PARAISO     1527150        40308
3567798   CUNDINAMARCA_MADRID_LOS ARBOLES     1125140       147006
11197756     META_VILLAVICENCIO_PERALONSO      393934      1574089
2061520              ARAUCA_TAME_MARARABE     1261365       447766

[5 rows x 65 columns]